doctype html
html
  head
    title Contact Us
    link(rel='stylesheet', type='text/css', href='../static/css/index.css')
    link(rel='stylesheet', type='text/css', href='../static/css/contact.css')
    link(rel='stylesheet', type='text/css', href='../static/css/Navbar.css')
    style(type='text/css').
      @font-face {
      font-family: "CustomFont1";
      src: url(../static/assets/fonts/AlexBrush-Regular.ttf) format("truetype");
      }
      .customfont1 {
      font-family: "CustomFont1", Verdana, Tahoma;
      /*font-size: 70px;*/
      font-size: 100px;
      }
  body#body
    #emblem(style='position: fixed; height: 100%; background: rgb(213, 239, 248);')
    center
      img#svg2(src='../static/assets/Seal1.png', alt='')
    #contact(style='width: 100%; position: relative; z-index: 100;')
    script(type='text/javascript', src='../static/dist/contact.js')
