doctype html
html
  head
    script(type="text/javascript").
      (function() {
        history.pushState(null, "Sovereign Chickamauga Cherokee", "/history")
      })();  
    meta(name='viewport', content='width=device-width', ,='', initial-scale='1', maximum-scale='1')
    title Sovereign Chickamauga Cherokee
    link(rel='stylesheet', type='text/css', href='../static/css/history.css')
    link(rel='stylesheet', type='text/css', href='../static/css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='../static/css/Navbar.css')
    style(type='text/css').
      @font-face {
      font-family: "CustomFont1";
      src: url(../static/assets/fonts/AlexBrush-Regular.ttf) format("truetype");
      }
      .customfont1 {
      font-family: "CustomFont1", Verdana, Tahoma;
      /*font-size: 70px;*/
      font-size: 100px;
      }
  body#body
    center
      img#svg2(src='../static/assets/Seal1.png', alt='')
    #emblem(style='position: fixed;')
    #history(style='position: relative; z-index: 100;')
    script(type='text/javascript', src='../static/dist/history.js')
